input, textarea {
  color: #c28283;
  font-size: 1.125em;
  font-weight: 700;
}

textarea {
  resize: none;
}

.inner {
  margin-left: 6.25em;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-flow: row nowrap;
}

.formular {
  width: 37.5em;
}

:focus {
  outline: none;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row nowrap;
}

.form-group {
  width: 47%;
  display: block;
  text-align: left;
  font-size: 0.9375em;
  position: relative;
  color: #476667;
  margin-bottom: 3.2em;
}
.form-group span {
  cursor: text;
  opacity: 0.8;
  top: 0.7333333333em;
  color: #476667;
  position: absolute;
  transform-origin: 0 0;
  transition: all 0.33s ease;
}
.form-group span.border, .form-group span.border2 {
  left: 0;
  width: 100%;
  display: block;
  height: 0.1333333333em;
  position: absolute;
  transform: scaleX(0);
  background: #476667;
  transition: all 0.33s ease;
}
.form-group span.border {
  top: 2.6em;
}
.form-group span.border2 {
  top: 8.4em;
}

.form-control {
  width: 100%;
  border: none;
  display: block;
  background: none;
  font-size: 0.9375em;
  height: 2.8666666667em;
  font-family: "Montserrat-SemiBold";
  border-bottom: 0.0666666667em solid #c28283;
}
.form-control:focus + span, .form-control:valid + span {
  transform: translateY(-1.8em) scale(0.8);
}
.form-control:focus + span + .border, .form-control:focus + span + .border2, .form-control:valid + span + .border, .form-control:valid + span + .border2 {
  transform: scaleX(1);
}

textarea.form-control {
  padding-top: 0.625em;
  padding-bottom: 0.625em;
  min-height: 9.0625em;
}

.area {
  min-width: 100%;
}

.svg-pattern {
  position: absolute;
  width: 14.375em;
  right: -7.1875em;
  bottom: 0;
}

@media only screen and (max-width: 51.875em) {
  .inner {
    margin: 0;
    align-items: center;
    flex-flow: column nowrap;
  }

  .row {
    flex-flow: column wrap;
  }

  .form-group {
    width: 100%;
  }

  .formular {
    max-width: 100%;
    padding: 1.875em;
  }

  .svg-pattern {
    right: -10.412em;
  }
}