//
// VARIABLES
// -------------------------------------------------------

$color-bg-page: #fff;
$color-light: #f9e8eb;
$color-dark: #476667;
$color-mid: #c28283;
$color-web: #f9e8eb;

$font-size-basic: 100%;
$font-family-1: 'DM Sans', sans-serif;

//
//	MIXINS
// ------------------------------------------------------

// Prepocet na hodnoty EM pre responzivny dizajn!!!
@function em($size, $context: 16) {
	@return ($size / $context) + em;
}

@mixin font-size($size, $context: 16) {
	font-size: em($size, $context);
}

// @include box-sizing
@mixin box-sizing( $value ) {
	box-sizing: $value;
}

// pre zmenu sirky MAIN bazena v ktorom su dalsie 3 boxy napr: 
// @include main(em(960));
@mixin main( $width ) {
	max-width: $width;
    margin: 0 auto;
    padding: 0 em(20);
}

// @include clearfix; tento zapis pridat k rodicovskemu elementu class ktory ma floatovane deti
@mixin clearfix {
	&:before,
	&:after { content: " "; display: table; }
	&:after { clear: both; }
}

// vykreslenie hranic elementov
//*{outline: em(1) solid yellow;}

input, textarea {
    color: $color-mid;
    font: {
        size: em(18);
        weight: 700;
    }
}

textarea {
	resize: none;
}

.inner {
	margin: {
        left: em(100);
    }
    display:flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-flow: row nowrap;
    //position: relative;
}

.formular {
    width: em(600);
}

:focus {
    outline: none;
}

.row {
	display:flex;
	align-items: center;
	justify-content: space-between;
	flex-flow: row nowrap;
}

.form-group {
	width: 47%;
	display: block;
	text-align: left;
	font-size: em(15);
    position: relative;
	color: $color-dark;
	margin-bottom: em(48, 15);
	span {
		cursor: text;
		opacity: 0.8;
		top: em(11, 15);
        color: $color-dark;
		position: absolute;
		transform-origin: 0 0;
		transition: all .33s ease;
		&.border,
		&.border2 {
			left: 0;
			width: 100%;
			display: block;
			height: em(2, 15);
			position: absolute;
			transform: scaleX(0);
			background: $color-dark;
			transition: all .33s ease;
			}
		&.border {
			top: em(39, 15);
			}
		&.border2 {
			top: em(126, 15);
			}
	}
}

.form-control {
	width: 100%;
	border: none;
	display: block;
	background: none;
	font-size: em(15);
	height: em(43, 15);
	font-family: "Montserrat-SemiBold";
	border-bottom: em(1, 15) solid $color-mid;
	&:focus, &:valid {
		//border-bottom: em(1) solid $color-light;
		& + span {
			transform: translateY(em(-27, 15)) scale(.8);
			& + .border,
			& + .border2 {
				transform: scaleX(1);
			}
		}
	}
}

textarea.form-control {
	padding-top: em(10);
	padding-bottom: em(10);
	min-height: em(145);
}

.area {
    min-width: 100%;
}

.svg-pattern {
	position: absolute;
	width: em(230);
	right: em(-115);
	bottom: 0;
}

@media only screen and ( max-width: em(830) ) {
	.inner {
		margin: 0;
		align-items: center;
		flex-flow: column nowrap;
	}

	.row {
		flex-flow: column wrap;
	}

	.form-group {
		width: 100%;
	}

	.formular {
		max-width: 100%;
		padding: em(30);

	}

	.svg-pattern {
		right: em(-166.592);
	}
	
}